<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telemage</title>
    <link href="./public/styles.css" rel="stylesheet">
    <link rel="icon" href="./public/favicon.svg">
    {% if status == "SETUP_WEBHOOK" %}
    <script defer src="./public/index.js"></script>
    {% elif status == "AUTH" %}
    <script defer src="./public/auth.js"></script>
    {% endif %}
</head>

<body>
    <header><a href="/">home</a><a href="/setup">setup</a><a href="/authorize">authorize</a></header>
    <div class="app">
        {% if status == "SETUP_ENVS" %}
        <p>hey!</p>
        <br />
        <p>one or both of your configuration variables are not set, please do the following from the telemage
            app's card on your deta space canvas:</p>
        <br />
        <ul>
            <li>
                click on "...", select "settings", and then "configuration".
            </li>
            <li>
                set both the configuration variables: "OPEN_AI" and "TELEGRAM". then click "save changes".
            </li>
            <li>
                refresh this page or <a href="/setup">click here</a>.
            </li>
        </ul>
        </p>
        {% elif status == "SETUP_WEBHOOK" %}
        <p>you can use the button below to set your webhook with telegram.</p>
        <button class="btn add-id-btn set-webhook-btn">set webhook</button>
        <p>once you've set the webhook, head over to <a href="./authorize"
            rel="noopener noreferrer">authorize</a>.</p>
        {% elif status == "READY" %}
        <p>👅 configuration seems to be setup correctly.</p>
        <br />
        <p>
            you can authorize individual users via <a href="./authorize"
            rel="noopener noreferrer">authorize</a>.
            then just slide into your telemage bot's dms with cheeky prompts.
            you should get generated images in response.
        </p>
        <br />
        <p>your images are all stored in a <a href="https://deta.space/docs/en/reference/drive/about"
                rel="noopener noreferrer">deta drive</a>. from your deta space canvas, simply click "...", then "view
            data", then "drive" to preview and download. grab a <a
                href="https://deta.space/changelog/post-6" rel="noopener noreferrer">data key</a> if you want to hack
            around with your images elsewhere. </p>
        {% elif status == "AUTH" %}
        <div class="temp-container">
            <p>
                to get a chat id to authorize, just send your bot the message "/chat-id" & add it to this list.
            </p>
            <p style="text-decoration: underline;">authorized chat ids:</p>
            <ul class="id-list">
                {% if chat_ids != None %}
                {% for i in chat_ids %}
                <li>{{i}}</li>
                {% endfor %}
                {% endif %}
                <li><button class="btn add-id-btn">add new chat id</button></li>
                <li><button class="btn submit-btn hidden">submit</button></li>
            </ul>
        </div>
        {% elif status == "ERROR" %}
        <p>uh-oh, we've hit an unknown error. please double check your configuration variables.</p>
        {% endif %}
    </div>
</body>

<script>
    const currentURL = window.location.pathname
    const navLinks = document.querySelectorAll('header a').forEach(link => {
        if (link.getAttribute('href') === currentURL) {
            link.classList.add('active')
        }
    })
</script>

</html>