body {
    font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    font-size: 1rem;
    background-color: #fff;
    color: #16171a;
    height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

@media (min-width: 1200px) {
    body {
        margin: 0 22%;
    }
}
@media (min-width: 1024px) and (max-width: 1200px) {
    body {
        margin: 0 15%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        margin: 0 10%;
    }
}

ul {
    padding-inline-start: 20px;
}


#webhookStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
    margin-bottom: 20px;
}

.set-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: 1px solid #d3d3d3;
    color: #262626;
    background-color: transparent;
    border-radius: 0.25rem;
    height: 30px;
    width: 50px;
    text-decoration: none;
    box-sizing: border-box;
}

.set-button:hover {
    color: #000000;
    border-color: #000000;
    cursor: pointer;
}

